body{
    background-color: hsl(210, 36%, 96%);
    margin: 0;
    padding: 0;
}

aside{
    background-color: #fff;
    width: 60%;
    height: 100vh;
    position: relative;
    box-shadow: 3px 4px 2px gray;
}

.heading{
    color: rgb(139, 139, 189);
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    text-shadow: 2px 2px 3px gray;
}

.close{
    background-color:#fff ;
    padding: 0;
    cursor: pointer;
    width: 30px;
    position: absolute;
    right: 6px;
    top: 6px;
    border: none ;
    border-radius: 50%;
    margin-left: 6px;
    height: 30px;
}

.close:hover{
    transform: scale3d(1.2,1.5,1.5);
}

li{
text-decoration: none;
list-style: none;
padding: 20px;
font-weight: 400;
font-size: 2em;
}

li:hover{
    transition: all 0.3s linear;
    background-color:hsl(205, 90%, 76%) ; 
    color: rgb(53, 53, 228);
    padding-left: 36px;
    cursor: pointer;
    border-radius: 6px;
}

button{
    /* display: hidden; */
}

.btn_close{
    color: brown;
    font-size: 19px;
    font-weight: bold;
}

.toggle{
    position: absolute;
    top: 13px;
   padding: 8px;
    right: 13px;
    cursor: pointer;
}

.toggle:hover{
    transform: rotate(90deg);
    padding: 10px;
    transition: all 0.3s linear;
    border: 1px solid blue;
}

.container{
    color: rgb(139, 139, 189);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-size: 34px;
}

